In [1]:
list1 = [1, 2, 3,4]
list2 = ['a', 'b', 'c', 'd']
result = list(zip(list1, list2))
print(result)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [2]:
list1 = [1, 2, 3,4]
list2 = ['a', 'b', 'c', 'd']
list3 = [str(list1[i]) + list2[i] for i in range(len(list1))]
list3

['1a', '2b', '3c', '4d']

In [3]:
nums = [10,15,20,25,30]
result =["Even" if i%2==0 else "Odd" for i in nums]
print(result)

['Even', 'Odd', 'Even', 'Odd', 'Even']

In [4]:
text = 'banana'
unique_characters = []
for ch in text:
    if ch not in unique_characters:
        unique_characters.append(ch)
print(unique_characters)
character_frequency = {ch: text.count(ch) for ch in unique_characters}
character_frequency

['b', 'a', 'n']

{'b': 1, 'a': 3, 'n': 2}

In [7]:
marks = {"Ali": 85, "Muhammad": 90, "Ahmad": 75, "Zain": 40}
passed_students = {name: score for name, score in marks.items() if score >= 70}
passed_students

{'Ali': 85, 'Muhammad': 90, 'Ahmad': 75}

In [8]:
result = {}
for n in range(1, 11):
    if n % 2 == 0:
        result[n] = n ** 2
    else:
        result[n] = n ** 3
print(result)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}